.form-container {
  display: flex;
  min-height: calc(100vh - 60px - 2.5em - 3rem);
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.form-container .form-wrapper {
  display: grid;
  row-gap: 2em;
  text-align: center;
  height: 60%;
  padding: 2em;
  border: 1px solid #c5c7c9;
  border-radius: 8px;
  box-shadow: 0 0 5px black;
}

.form-container .form-wrapper form {
  display: grid;
  row-gap: 1.5em;
}

.form-container .form-wrapper form .submit-btn {
  margin-top: 1.5em;
}

.errors {
  padding: 0.5em 0;
  font-weight: lighter;
  /* border: 1px solid #afafaf; */
  border-radius: 5px;
  background-color: #ffa9a9;
  color: #860808;
}

@media screen and (min-width: 768px) {
  .form-container .form-wrapper {
    width: 35vw;
  }
}
