.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseline h1 {
  margin-bottom: 1.5rem;
}

article h1 {
  margin: 1rem 0;
}